
.menu a{
  
    border: 1px solid #e7f8ff;
    background-color: lightblue;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 11px;
    padding-left: 10px;
  text-decoration: none;
   
}

.menu{

  width: 43%;
  height: auto;
  position: absolute;
  left: 45%;
  margin: 15px;
  position: absolute;
  top:30px;
  left: 48%;
  
}


.tela{
  width: 80%;
  margin: 0 auto;
  height: 100%;
    

}

.menu a:hover{
     
      background-color: #87CEFF;
      border: 5px solid #e7f8ff;

}

@font-face {

 font-family: "Lato";


 src: url(../../fontes/Lato-Regular.ttf); } 

*{ font-family: "Lato";  }


p{
  text-align: justify;
  padding: 10px;
}




.rodape{
    
    height: 300px;
    width: 100%;
    background-color: lightblue;
     justify-content: space-between;
    display: flex;
    

}




.Geo{
  
  width: 33%;
  margin: 5px;
 
  
}

.titulo-rodape{
  text-align: center;
}

.texto-rodape{
  text-align: justify;
}





.Sit{
  
  width: 33%

  
    
}

.Sit ul li a{
  
  text-decoration: none;
  
}

.Sit ul{
  
   list-style-type: none;
   

}

.Map{

   width: 33%;
   padding: 3px;

}
























@media (max-width: 1300px) {


.menu a{
  
    border: 1px solid #e7f8ff;
    background-color: lightblue;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 11px;
    padding-left: 25px;
    text-decoration: none;
    display: block;
   
}

.menu{

  width: 43%;
  height: auto;
  position: absolute;
  left: 45%;
  margin: 15px;
  position: absolute;
  top:0px;
  left: 42%;
  
}


.menu a:hover{
     
      background-color: #87CEFF;
      border: 5px solid #e7f8ff;

}

.rodape{
    
    height: auto;
    width: 100%;
    background-color: lightblue;
     justify-content: space-between;
    display: block;
    

}

}


























